img[alt="small"] {
    width: 800px;
}

img[alt="tiny"] {
    width: 200px;
}

ul {
    margin-bottom: 0px;
    padding-inline-start: 1.25rem;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.toggle-close {
    width: 1rem;
}

.hamburger {
    width: 1.5rem;
    cursor: pointer;
}

#nav-header {
    padding-bottom: 10px;
    background-color: var(--pico-background-color);
}

#sidebar {
    background-color: var(--pico-background-color);
    max-height: calc(-31.5px + 100vh);
    overflow-y: auto;
}

#sidebar.active {
    position: fixed;
}

#sidebar:not(.active) {
    display: none;
}

#sidebar ul li {
    color: rgba(230, 230, 230, 0.9);
    list-style: none;
    padding: 0.25rem;
}

.content {
    padding: 1.5rem;
}

#nav-header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-content: center;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

#search-container {
    flex-grow: 1;
    margin-left: 16px;
}

#search {
    height: 20px;
    margin-bottom: 5px;
    background: url("/assets/images/search.png") no-repeat left;
    background-position-x: 5px;
    background-size: 20px;
    padding-left: 25px;
}

#nav-header.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}

#nav-header.headroom--pinned {
    transform: translateY(0%);
}

#nav-header.headroom--unpinned {
    transform: translateY(-100%);
}

header#nav-header.headroom--frozen {
    transform: translateY(0%);
}

main {
    margin-top: 59.5px;
    overflow-x: scroll;
}

html,
body {
    scroll-padding-top: 65px;
}

.search-icon {
    position: absolute;
    top: 21px;
    left: 44px;
}
