img[alt="small"] {
    width: 800px;
}

ul {
    margin-bottom: 0px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    overflow-y: auto;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin: 5px 0;
}

.sidebar a {
    text-decoration: none;
    display: block;
    padding: 8px;
    border-radius: 4px;
}

.sidebar a:hover {
    background-color: #007bff;
}

.sidebar ul ul {
    padding-left: 20px;
}

.content {
    margin-left: 270px; /* Adjust this value according to the sidebar width */
    padding: 20px;
}
