<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Sovereign</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link rel="stylesheet" href="assets/css/pico.min.css" />
        <link rel="stylesheet" href="assets/css/custom.css" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="/assets/js/sidebar.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/minisearch@7.1.0/dist/umd/index.min.js"></script>
        <script src="/assets/js/search.js"></script>
    </head>
    <body>
        <header id="nav-header" class="container">
            <div class="material-symbols-outlined" onclick="toggleSidebar()">
                menu
            </div>
            <a class="material-symbols-outlined home" href="/">home</a>
            <div id="search-container">
                <input type="text" id="search" />
                <ul id="search-results" />
            </div>
        </header>
        {% include toc.html %}
        <main class="container">
            {{ content }}
            <footer>
                <hr />
                This is a living document with
                <a href="https://github.com/beaurancourt/sovereign"
                    >open source code</a
                >.
            </footer>
        </main>
    </body>
</html>
